APP_ENV=development
NEXT_PUBLIC_WEBSITE_FRONTEND_URL=http://localhost:3004
REACT_EDITOR=cursor

# shadcn studio (premium blocks)
EMAIL=<shadcn-studio-account-email>
LICENSE_KEY=<shadcn-studio-license-key>

# Newsletter provider
NEWSLETTER_PROVIDER=buttondown
NEWSLETTER_API_KEY=
